name: Github actions test
on: [push]
jobs:
  GetVersion:
    runs-on: ubuntu-latest
    env:
      TXT: data/keepassxc.txt
      URL: https://api.github.com/repos/keepassxreboot/keepassxc/releases/latest
    outputs:
      updated: ${{ steps.step2.outputs.updated }}
      version: ${{ steps.step2.outputs.version }}
    steps:
      - uses: actions/checkout@v2
      - run: curl -s $URL | grep tag_name | cut -d '"' -f 4 | xargs printf "version=%s" >> $GITHUB_ENV
      - run: echo $version | cmp -s $TXT - || echo "::set-output name=version::$version" && echo "::set-output name=updated::true"
        id: step2
  CreatePostIfNeeded:
    runs-on: ubuntu-latest
    env:
      HUGO_URL: https://github.com/gohugoio/hugo/releases/download/v0.83.1/hugo_0.83.1_Linux-64bit.tar.gz
      version: ${{ needs.GetVersion.outputs.version }}
    needs: GetVersion
    if: ${{ needs.GetVersion.outputs.updated == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - run: curl -OL $HUGO_URL
      - run: tar -xzvf hugo*.tar.gz hugo
      - run: ./hugo new -ktest posts/keepassxc-$(echo $version | sed 's,\.,-,g')-released.md
      - run: ls content/posts
      - run: cat content/posts/keepassxc-*
